

.three-column-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a three-column layout */
    gap: 20px; /* Adjust the space between columns */
}

/* Responsive adjustment */
@media (max-width: 768px) {
    .three-column-layout {
        grid-template-columns: 1fr; /* Stacks the columns vertically on smaller screens */
    }
}

.two-column-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a three-column layout */
    gap: 40px; /* Adjust the space between columns */
}

/* Responsive adjustment */
@media (max-width: 768px) {
    .three-column-layout {
        grid-template-columns: 1fr; /* Stacks the columns vertically on smaller screens */
    }
}

.line-after::after, .line-after p:last-child::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 20px;
}

.expandable-content, .line-after p:last-child {
    margin-top: 10px;
}

.custom-bullets img {
    max-width: 100%;
    height: auto;
}


.boxlike {
    text-decoration: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
    outline: .5px solid #939393;
    align-content: left;
    font-size: 1.2rem;
}

.tacappl {
    /*background-color: #D4D275;*/
    border: 3px solid blue;


}

.tacmay {
    /*background-color: #EAE7BB;*/
    border: 1px solid blue;
}

.smallfont{
    font-size: 1.2rem;
}

.caption{
    font-size: 1rem;
}


.square-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* Creates 10 columns */
    gap: 0px; /* Adjust the gap between squares as needed */
    width: 100%;
}


/* Example specific colors */
.yellow { background-color: white; border: 3px solid blue;}
.red { background-color: white; border: 1px solid blue; }
.outline { background-color: white; border: .5px solid #939393;}



.square {
    width: 100%; /* Makes the square's width fill the column */
    padding-top: 100%; /* Aspect ratio trick for squares */
    position: relative;
    display: flex; /* Enables Flexbox for centering content */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    overflow: hidden; /* Ensures no overflow outside the square */
}

.number {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%); /* Adjust vertically to truly center */
    font-size: .9rem; /* Adjust as needed */
}



.boxcards {
    outline: 1px solid black;
    padding: 2rem;
}


.shad {
    box-shadow: 0rem 0rem 0rem #d0fa00b6;
    border-radius: 20rem;
  }



  .animated-word {
    display: inline-block;
    cursor: pointer;
    animation: pulseRotate 2s infinite;
  }
  
  @keyframes pulseRotate {
    0%, 100% {
      transform:  rotate(-9deg);
    }
    50% {
      transform: rotate(9deg); /* Adjust scale and rotation as needed */
    }
  }
  


  .hover-image {
    transition: transform 0.2s ease; /* Smooth transition */
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.hover-image:hover {
    transform: scale(1.1); /* Enlarge the image */
}



.table2 {
    width: 100%;
    border: 1px solid #818181;
    margin-top: 4rem;
}

.table2 th, .table2 td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #818181;
    padding: 10px;
}

.table2 th {
    font-family: 'nmr';
    font-size: 1REM;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 52px;
    background-color: #fff;
    z-index: 1000; 
}

.table2 .filled-circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.table2 .outlined-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.table2 img {
    width: 15rem; 
    height: auto;
    display: block;
    margin: 0 auto;
}


.misleading-potential {
    /*background-color: #DA775932;*/
    background-color: transparent;
}
.moderate-potential {
    /*background-color: #D4D27532;*/
    background-color: transparent;
}
.low-potential {
    /*background-color: #a2c1c532;*/
    background-color: transparent;
}


.bloccotesto{
    max-width: 40rem;
}